

    location {{ location.location }} {
        proxy_set_header       Host 's3.amazonaws.com';
        proxy_set_header       Authorization '';
        proxy_hide_header      x-amz-id-2;
        proxy_hide_header      x-amz-request-id;
        proxy_hide_header      Set-Cookie;
        proxy_ignore_headers   "Set-Cookie";
        proxy_intercept_errors on;
        proxy_pass https://s3.amazonaws.com/{{ location.s3location }};
        expires 1y;
        log_not_found off;
    }
